# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Binaries
*.x
/MultigridMethods/tests/jacobiRelaxation
tests/jacobiRelaxation/jacobiRelaxation
bin/
comparepythoncfortran/jacobiRelax/jacobirelaxc
comparepythoncfortran/jacobiRelax/jacobirelaxf
tests/vector_grid/vector_grid
